@font-face {
    font-family: "PoynterOSDisplay";
    src: url(../fonts/PoynterOSDisplay.ttf);
}

@font-face {
    font-family: "AvenirNext-Regular";
    src: url(../fonts/AvenirNext-Regular.ttf);
}

@font-face {
    font-family: "AvenirNext-Bold";
    src: url(../fonts/AvenirNext-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

//-16 tablet
$font-smallest: 6px;
$font-smaller: 12px;
$font-small: 13px;
$font-medium: 16px; //stays same
$font-medium_large: 21px;
$font-large: 16px;
$font-larger: 40px;
$font-largest: 64px;

/*

//-16 tablet
$font-smallest: 6px;
$font-smaller: 12px;
$font-small: 13px;
$font-medium: 16px; //stays same
$font-medium_large: 21px;
$font-large: 16px;
$font-larger: 40px;
$font-largest: 64px;




// -8 small desktop
$font-smallest: 6px;
$font-smaller: 12px;
$font-small: 13px;
$font-medium: 16px;
$font-medium_large: 21px;
$font-large: 24px;
$font-larger: 48px;
$font-largest: 72px;

//medium desktop
$font-smallest: 14px;
$font-smaller: 18px;
$font-small: 21px;
$font-medium: 24px;
$font-medium_large: 29px;
$font-large: 32px;
$font-larger: 56px;
$font-largest: 80px;

// +8 large desktop
$font-smallest: 22px;
$font-small: 29px;
$font-medium: 32px;
$font-medium_large: 37px;
$font-large: 40px;
$font-larger: 64px;
$font-largest: 88px;


Old->
$font-smaller: 10px;
$font-small: 12px;
$font-medium_small: 14px;
$font-medium: 16px;
$font-medium_large: 18px;
$font-large: 24px;
$font-larger: 48px;
$font-largest: 62px;
*/

$nav-height: 10vh;

* {
    margin: 0;
    padding: 0;
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: $font-medium;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0px;
}

p {
    color: #7f7f81;
    margin: 10px 0px;
}

//MODULES

.header-top {
    font-family: PoynterOSDisplay, serif;
    font-size: $font-largest;
    color: white;
    margin: 0;
}

.header-grey {
    font-family: PoynterOSDisplay, serif;
    font-size: $font-larger;
    color: #122a3e;

    span {
        position: absolute;
        margin-top: -2.5vw;
        margin-left: -4.8vw;
        color: #122a3e;
        opacity: 0.1;
        font-size: 10vw;
        font-family: PoynterOSDisplay, serif;
    }
}

.header-white,
.header-blue {
    font-family: PoynterOSDisplay, serif;
    font-size: $font-larger;
    color: white;
}

.header-blue {
    color: #032dc1;
}

.header-uppercase-grey,
.header-uppercase-white {
    font-family: "AvenirNext-Bold", sans-serif;
    text-transform: uppercase;
    font-size: $font-large;
}

.header-uppercase-grey {
    color: #122a3e;
    opacity: 0.25;
}

.header-uppercase-white {
    color: white;
    opacity: 1;
}

.paragraph-smallest {
    font-size: $font-smallest;
}

.paragraph-smaller {
    font-size: $font-smaller;
}

.paragraph-small {
    font-size: $font-small;
}

.paragraph-medium_large {
    font-size: $font-medium_large;
    color: white;
    margin: 0;
}
.paragraph-large {
    font-size: $font-large;
}

.paragraph-smaller-red {
    text-align: right;
    font-size: $font-smaller;
    font-weight: bold;
    color: #e94f37;
}

.paragraph-red {
    font-weight: bold;
    color: #e94f37;
}

.paragraph-small-white {
    font-size: $font-small;
    color: white;
    font-weight: initial;
}

.paragraph-small-red {
    text-align: right;
    font-size: $font-small;
    font-weight: bold;
    color: #e94f37;
}

.paragraph-small-black {
    font-size: $font-small;
    color: black;
    font-weight: initial;
}

.padding-small {
    padding: 50px 5%;
}

.padding-medium {
    padding: 50px 10%;
}

.padding-large {
    padding: 50px 20%;
}

.blue-bold {
    color: #032dc1;
    font-family: AvenirNext-Bold, sans-serif;
}

// MAIN

.main-flex_container {
    width: 100%;
}

nav {
    #menuToggle {
        input {
            display: none;
        }
    }
}

.nav-flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border: 0px solid black;
    margin: 0px;

    background-color: white;
    position: fixed;
    width: 100vw;
    padding: 1vh;
    z-index: 1;
    height: $nav-height;

    li {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 1vh;

        .icon_large {
            width: 12vh;
            margin-top: -2%;
        }

        a {
            .icon_small {
                width: 25px;
            }

            font-weight: bold;
            text-decoration: none;
            color: black;
            &:hover {
                border-bottom: 5px solid #fec82e;
            }
        }
        button {
            background-color: #032dc1;
            width: 220px;
            height: 70px;
            margin-top: 0px;
            padding: 0;
            border: 2px solid #3772fc;
            margin-right: 10px;

            p {
                font-size: $font-medium;
                margin: 0;
                color: white;
            }

            address {
                font-style: initial;
                font-family: Montserrat-Regular, AvenirNext-Regular, sans-serif;
                font-size: $font-medium_large;
            }
        }
    }
}

.main-flex_container {
    display: flex;
    flex-direction: column;
}

.hero-menu_container {
    margin-top: $nav-height;
    background-image: url("../images/hero_worker.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #4e505c;
    background-blend-mode: multiply;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    .hero-menu_copy {
        max-width: 75%;
        padding: 200px 100px; //desktop query 300px 200px
    }
}

.testimonials_container {
    div {
        margin: auto;
    }

    img {
        width: 100%;
    }
}

.results_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background: #f6f7fc;

    .results-table_container {
        .results-table {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: 20px;
            border: 0px;
            -webkit-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
            -moz-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
            box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);

            tr {
                padding: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            th,
            td {
                color: #122a3e;
            }

            .results-table_won {
                background-color: #032dc1;

                th,
                td {
                    color: white;
                    font-family: AvenirNext-Bold, serif;
                }
            }

            .results-table_offer {
                background-color: #8da9c4;
            }

            .results-table_details {
                background-color: white;
                margin-top: 20px;
                tr {
                    padding: 2px 50px;
                }
                th,
                td {
                    width: 50%;
                }

                th {
                    text-align: right;
                }
                th {
                    text-align: left;
                }
                p {
                    margin: 20px;
                }
            }
        }
    }
}

.about-main_container {
    div {
        margin: auto;
        padding-bottom: 10px;

        img {
            width: 100%;
        }
    }

    .about-main_copy {
        .about-main_copy-quote_attribution {
            color: #1c1d21;
        }
    }
}

.about-sub_container {
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid #eef0f2;
    padding-top: 10px;

    div {
        width: 55%;
        padding: 10px;
    }
}

.reviews_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbeb;

    div {
        img {
            max-width: 400px;
            margin: 20px;
        }
    }
}

.questions_container {
    .questions_introduction,
    .questions_list {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .questions_introduction {
        button {
            margin: 20px 5vw;
        }
    }

    .questions_list {
        button {
            background-color: blue;
            text-align: left;
            font-family: AvenirNext-Regular, sans-serif;
            padding: 0;
            margin: 10px 0px;
            padding: 10px;
            min-width: 40vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                color: white;
                width: 95%;
                margin: 0;
            }

            .triangle {
                color: yellow;
                width: 5%;
            }
        }
    }
}

.news_container {
    background-color: #f7f8fd;
    text-align: center;

    .news-story_flexcontainer {
        align-items: center;
        .news-story {
            -webkit-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
            -moz-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
            box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
            background-color: white;
            margin: 20px 20px;
            padding: 20px;

            .news-story_title,
            .news-story_excerpt {
                text-align: left;
                margin: 10px 0px 20px;
            }
        }
    }
}

.ask_container {
    text-align: center;

    .ask-sub_container {
        .ask-sub_info {
            margin: 20px;

            img {
                width: 60px;
                padding-bottom: 10px;
            }

            p {
                padding: 2%;
            }
        }
    }
}

.awards_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fec82e;

    .awards-icon_container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;

        img {
            margin: 0px 0px;
            width: 80px;
            align-self: center;
        }
    }
}

button {
    color: white;
    font-family: Montserrat-Regular, serif;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    background: #e94f37;
    opacity: 1;
    border: 0px;
}

.responsive-flex {
    display: flex;
    flex-direction: column;
}

.contact-top_container {
    background: #f6f7fc;
    margin-top: 60px;

    .contact-top_copy {
        h2,
        p {
            color: black;
        }
    }
}

.contact-bottom_container {
    img {
        width: 100%;
    }
    .contact-bottom_copy {
        h2 {
            color: black;
        }
        address {
            font-style: initial;
            p {
                color: black;
                margin: 0;
            }

            a {
                color: #e94f37;
            }
        }
    }
}

footer {
    background-color: #f6f7fc;
}

.aboutpage-introduction_container {
    margin-top: $nav-height;
    background-color: #f7f8fd;
    div {
        margin: 10px;
    }
    .aboutpage-kg_profiles {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        div {
            text-align: left;
            img {
                max-width: 100%;
                border: 5px solid white;
            }
        }
    }
}

.aboutpage-mission_container {
    div {
        margin: 10px;

        img {
            max-width: 100%;
        }
    }
}
.aboutpage-attorneys_container {
    background-color: #f6f7fc;
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutpage-attorneys_directory {
        display: flex;
        flex-wrap: wrap;
        a {
            margin: 10px auto;
            text-decoration: none;
            color: black;
            &:hover {
                color: #032dc1;
            }

            .aboutpage-attorneys_profile {
                background-color: white;
                padding: 10px;
                img {
                    max-width: 200px; //media-query smaller on phones
                }
                h3 {
                    color: #7f7f81;
                    font-weight: initial;
                }
            }
        }
    }
}

.partner-profile_container {
    margin-top: $nav-height;

    .partner-profile_sidebar {
        text-align: center;
        img {
            max-width: 250px;
            border: 5px solid #f6f7fc;
        }
        div {
            .partner-profile_icons {
                img {
                    border: 0px;
                    width: 25px;
                    margin: 10px 10px 10px 0px;
                }
            }
            button {
                width: initial;
            }
        }
    }
    .partner-profile_main {
        h3 {
            font-family: serif;
            font-style: italic;
            font-weight: 200 !important;
            border-bottom: 2px solid #032dc1;
        }
        h4 {
            font-family: PoynterOSDisplay, serif;
            color: black;
            margin-top: 10px;
            border-bottom: 2px solid #032dc1;
        }
        p {
            margin-top: 10px;
        }
    }
}

.blog-post_container {
    margin-top: $nav-height;

    section {
        margin: 0 20px;
    }

    .blog-post_main {
        width: 70%;

        h2 {
            font-family: PoynterOSDisplay, serif;
            font-size: 45px;
            border-bottom: 2px solid #032dc1;
        }

        .blog-post_main-category {
            font-size: 24px;
            font-family: AvenirNext-Bold, sans-serif;
            color: blue;
            margin: 0;
        }

        .blog-post_main-date {
            font-size: 21px;
            color: #7f7f81;
            margin: 0;
        }

        .blog-post_main-author {
            font-size: 18px;
            color: #7f7f81;
            margin: 0;
        }

        p {
            font-size: $font-small;
            color: black;
            width: 90%;
        }

        a,
        ul,
        li,
        b,
        i,
        u {
            font-size: $font-small;
        }
    }
    .blog-post_sidebar_container {
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        
        div {
            //background-color: #f7f8fd;
            height: auto;
        }

        h4 {
            font-family: AvenirNext-Bold, sans-serif;
            font-size: 24px;
            color: #1c1d21;
            width: 100%;
        }

    }
}

// MEDIA QUERIES

$phone: "only screen and (max-device-width: 710px)";
$tablet: "only screen and (min-device-width: 711px) and (max-device-width: 1023px)";
$desktop-small: "only screen and (min-device-width: 1024px) and (max-device-width: 1919px)";
$desktop-medium: "only screen and (min-device-width: 1920px) and (max-device-width: 2559px)";
$desktop-large: "only screen and (min-device-width: 2560px)";



@media #{$desktop-small} {
    * {
        font-size: $font-medium;
    }
    .header-top {
        font-size: $font-largest;
    }
    .header-grey {
        font-size: $font-larger;
    }
    .header-white,
    .header-blue {
        font-size: $font-larger;
        text-align: center;
    }

    .header-uppercase-grey,
    .header-uppercase-white {
        font-size: $font-large;
    }

    .paragraph-smallest {
        font-size: $font-smallest;
    }

    .paragraph-smaller {
        font-size: $font-smaller;
    }
    .paragraph-small {
        font-size: $font-small;
    }

    .paragraph-medium_large {
        font-size: $font-medium_large;
    }
    .paragraph-large {
        font-size: $font-large;
    }

    .paragraph-smaller-red {
        font-size: $font-smaller;
    }

    .paragraph-small-white {
        font-size: $font-small;
    }

    .paragraph-small-red {
        font-size: $font-small;
    }

    .paragraph-small-black {
        font-size: $font-small;
    }

    .padding-small {
        padding: 50px 10%;
    }
    .padding-medium {
        padding: 50px 15%;
    }
    .padding-large {
        padding: 50px 25%;
    }

    .hero-menu_container {
        .hero-menu_copy {
            max-width: 40%;
            padding: 200px 150px; //desktop query 300px 200px
        }
    }

    .testimonials_container {
        div {
            width: 50%;
        }

        img {
            width: 80%;
        }
    }
    .about-main_container {
        div {
            width: 50%;
            margin: 25px 20px;
        }
    }
    .about-sub_container {
        align-items: initial;
    }

    .questions_introduction {
        width: 40%;
        margin-right: 20px;
    }

    .responsive-flex {
        flex-direction: row;
    }
    .aboutpage-mission_container {
        div {
            width: 50%;
        }
    }

    .contact-top_container,
    .contact-bottom_container {
        div {
            width: 50%;
            margin: 50px;
        }
    }
    .contact-bottom_container {
        .contact-bottom_copy {
            text-align: end;
        }
    }

    .partner-profile_sidebar {
        text-align: initial !important;
        div {
            button {
                width: 100% !important;
            }
        }
    }
    .partner-profile_main {
        width: 50%;
        margin-left: 50px;
    }

    footer {
        div {
            width: 100%;
            margin: 50px;
        }
    }

    .blog-post_container {
        .blog-post_main {
            h2 {
                font-size: 45px;
            }

            .blog-post_main-category {
                font-size: 24px;
            }

            .blog-post_main-date {
                font-size: 21px;
            }

            .blog-post_main-author {
                font-size: 18px;
            }

            p {
                font-size: $font-small;
            }

            a,
            ul,
            li,
            b,
            i,
            u {
                font-size: $font-small;
            }
        }
        .blog-post_sidebar_container {
            h4 {
                font-size: 24px;
            }
        }
    }
}

@media #{$desktop-medium} {
    * {
        font-size: $font-medium + 16px;
    }
    .header-top {
        font-size: $font-largest + 16px;
    }
    .header-grey {
        font-size: $font-larger + 16px;
    }
    .header-white,
    .header-blue {
        font-size: $font-larger + 16px;
    }

    .header-uppercase-grey,
    .header-uppercase-white {
        font-size: $font-large + 16px;
    }

    .paragraph-smallest {
        font-size: $font-smallest + 16px;
    }

    .paragraph-smaller {
        font-size: $font-smaller + 9px;
    }
    .paragraph-small {
        font-size: $font-small + 16px;
    }

    .paragraph-medium_large {
        font-size: $font-medium_large + 16px;
    }
    .paragraph-large {
        font-size: $font-large + 16px;
    }

    .paragraph-smaller-red {
        font-size: $font-smaller + 9px;
    }

    .paragraph-small-white {
        font-size: $font-small + 16px;
    }

    .paragraph-small-red {
        font-size: $font-small + 16px;
    }

    .paragraph-small-black {
        font-size: $font-small + 16px;
    }

    .padding-small {
        padding: 50px 10%;
    }
    .padding-medium {
        padding: 50px 15%;
    }
    .padding-large {
        padding: 50px 25%;
    }

    .hero-menu_container {
        .hero-menu_copy {
            max-width: 50%;
            padding: 200px 200px; //desktop query 300px 200px
        }
    }

    .testimonials_container {
        div {
            width: 50%;
        }

        img {
            width: 80%;
        }
    }
    .about-main_container {
        div {
            width: 50%;
            margin: 25px 20px;
        }
    }
    .about-sub_container {
        align-items: initial;
    }

    .questions_introduction {
        width: 40%;
        margin-right: 20px;
    }

    .responsive-flex {
        flex-direction: row;
    }
    .aboutpage-mission_container {
        div {
            width: 50%;
        }
    }

    .contact-top_container,
    .contact-bottom_container {
        div {
            width: 50%;
            margin: 50px;
        }
    }
    .contact-bottom_container {
        .contact-bottom_copy {
            text-align: end;
        }
    }

    .partner-profile_sidebar {
        text-align: initial !important;
        div {
            button {
                width: 100% !important;
            }
        }
    }
    .partner-profile_main {
        width: 50%;
        margin-left: 50px;
    }

    footer {
        img {
            width: 8%;
        }

        div {
            width: 80%;
            margin-left: 50px;
        }
    }

    .blog-post_container {
        .blog-post_main {
            h2 {
                font-size: 45px;
            }

            .blog-post_main-category {
                font-size: 24px;
            }

            .blog-post_main-date {
                font-size: 21px;
            }

            .blog-post_main-author {
                font-size: 18px;
            }

            p {
                font-size: $font-small;
            }

            a,
            ul,
            li,
            b,
            i,
            u {
                font-size: $font-small;
            }
        }
        .blog-post_sidebar_container {
            h4 {
                font-size: 24px;
            }
        }
    }
}

@media #{$desktop-large} {
    * {
        font-size: $font-medium + 24px;
    }
    .header-top {
        font-size: $font-largest + 24px;
    }
    .header-grey {
        font-size: $font-larger + 24px;
    }
    .header-white,
    .header-blue {
        font-size: $font-larger + 24px;
    }

    .header-uppercase-grey,
    .header-uppercase-white {
        font-size: $font-large + 24px;
    }

    .paragraph-smallest {
        font-size: $font-smallest + 24px;
    }
    .paragraph-smaller {
        font-size: $font-smaller + 16px;
    }
    .paragraph-small {
        font-size: $font-small + 24px;
    }

    .paragraph-medium_large {
        font-size: $font-medium_large + 24px;
    }
    .paragraph-large {
        font-size: $font-large + 24px;
    }

    .paragraph-smaller-red {
        font-size: $font-smaller + 16px;
    }

    .paragraph-small-white {
        font-size: $font-small + 24px;
    }

    .paragraph-small-red {
        font-size: $font-small + 24px;
    }

    .paragraph-small-black {
        font-size: $font-small + 24px;
    }
    .padding-small {
        padding: 50px 10%;
    }
    .padding-medium {
        padding: 50px 15%;
    }
    .padding-large {
        padding: 50px 25%;
    }

    .hero-menu_container {
        .hero-menu_copy {
            max-width: 40%;
            padding: 200px 200px; //desktop query 300px 200px
        }
    }

    .testimonials_container {
        div {
            width: 50%;
        }

        img {
            width: 80%;
        }
    }
    .about-main_container {
        div {
            width: 50%;
            margin: 25px 20px;
        }
    }
    .about-sub_container {
        align-items: initial;
    }

    .questions_introduction {
        width: 40%;
        margin-right: 20px;
    }

    .responsive-flex {
        flex-direction: row;
    }
    .aboutpage-mission_container {
        div {
            width: 50%;
        }
    }

    .contact-top_container,
    .contact-bottom_container {
        div {
            width: 50%;
            margin: 50px;
        }
    }
    .contact-bottom_container {
        .contact-bottom_copy {
            text-align: end;
        }
    }

    .partner-profile_sidebar {
        text-align: initial !important;
        div {
            button {
                width: 100% !important;
            }
        }
    }
    .partner-profile_main {
        width: 50%;
        margin-left: 50px;
    }

    footer {
        img {
            width: 8%;
        }

        div {
            width: 80%;
            margin-left: 50px;
        }
    }

    .blog-post_container {    
        .blog-post_main {
            
            h2 {
                font-size: 53px;
        }
    
            .blog-post_main-category {
                font-size: 32px;
            }
    
            .blog-post_main-date {
                font-size: 29px;
            }
    
            .blog-post_main-author {
                font-size: 26px;
            }
    
            p {
                font-size: $font-small + 24px;
            }
    
            a, ul, li, b, i, u {
                font-size: $font-small + 24px;
            }
        }
        .blog-post_sidebar_container {
            
            h4 {
                font-size: 32px;
            }
        }
    }
}

@media #{$phone} {
    .header-top {
        font-size: $font-largest - 16px;
    }

    .hero-menu_container {
        .hero-menu_copy {
            padding: 100px 10px;
            width: 100%;
        }
    }

    .awards-icon_container {
        img {
            width: 10% !important;
        }
    }
    .padding-small {
        padding: 50px 5%;
    }
    .padding-medium {
        padding: 50px 10%;
    }
    .padding-large {
        padding: 50px 20%;
    }

    .news_container {
        .news-story_flexcontainer {
            .news-story {
                width: 80%;
            }
        }
    }

    .reviews_container {
        div {
            img {
                width: 300px;
            }
        }
    }


        .blog-post_container {
            .blog-post_main {
                width: 100%;
            }
            .blog-post_sidebar_container {
                width: 100%;
            }
        }
    //HAMBURGER MENU

    nav {
        #menuToggle {
            input {
                display: initial;
            }
        }
    }

    .nav-flex_container {
        flex-direction: column;
        .icon_large {
            margin: 0 auto;
        }

        a {
            text-align: center;
        }

        li {
            a {
                font-size: $font-medium;
                &:hover {
                    border-bottom: 0px;
                }
            }
        }
        button {
            margin: auto;
        }
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        padding-left: 40px;

        z-index: 2;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: 36px;
        border: 1px solid black;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 3; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: black;
        border-radius: 3px;

        z-index: 0;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
        z-index: 2;
    }

    #menuToggle input {
        z-index: 2;
    }

    /*
 * But let's hide the middle one.
 */

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 86vw;
        margin: -100px 0 0 -50px;
        padding: 50px;
        //padding-top: 125px;
        background: white;
        height: 100vh;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /*tostopflickeringoftextinsafari*/
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
    }

    #menu li {
        padding: 0px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}
