@font-face {
    font-family: 'PoynterOSDisplay';
    src: url(../fonts/PoynterOSDisplay.otf);
}

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url(../fonts/AvenirNext-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'AvenirNext-Regular', sans-serif;
    font-size: 16px;
}




.nav-flex_container {
    display: flex;
    flex-direction: row;
    list-style: none;
    //border: 1px solid black;
    
    
    li {
        text-align: center;
        //border: 1px solid black;
        font-size: 12px;
        margin: 20px 10px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
}

.main-flex_container {
    display: flex;
    flex-direction: column;
    
    section {
        border: 1px solid black;
        height: 200px;
    }
}