@font-face {
    font-family: "PoynterOSDisplay";
    src: url(../fonts/PoynterOSDisplay.otf);
}

@font-face {
    font-family: "AvenirNext-Regular";
    src: url(../fonts/AvenirNext-Regular.ttf);
}

$font-smaller: 10px;
$font-small: 12px;
$font-medium_small: 14px;
$font-medium: 16px;
$font-medium_large: 18px;
$font-large: 24px;
$font-larger: 48px;
$font-largest: 62px;

* {
    margin: 0;
    padding: 0;
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: $font-medium;
}

.nav-flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border: 0px solid black;
    margin: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;

    li {
        text-align: center;
        border: 0px solid black;
        font-size: $font-small;
        margin: 20px 10px;
        display: flex;
        flex-direction: column;
    }
}

.main-flex_container {
    display: flex;
    flex-direction: column;

    section {
        border: 0px solid black;
        //height: 200px;
    }

    .hero-menu_container {
        margin-top: 60px;
        background-image: url(../images/HeroIMG-Jesus.png);
        background-size: cover;
        min-height: 50vh; //media-query-- 100vh at large
        background-color: #60a3ff;
        background-blend-mode: multiply;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 50px 10%;

        .hero-menu_copy {
            max-width: 50%; //media-query decrease for large
        }

        h1 {
            font-family: PoynterOSDisplay, serif;
            color: white;
            font-size: $font-larger; //media-query increase for large
            font-weight: 100;
        }

        h2 {
            color: white;
            font-size: $font-medium; //media-query increase for large
        }
    }

    .testimonials_container {
        div {
            border: 0px solid black;
            //width: 75%;
            margin: auto;
            padding: 50px 5%;
        }
    }

    .results_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        background: #f6f7fc;
        padding: 50px 5%;

        .results-table_container {
            .results-table {
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                margin: 20px;
                width: 200px;
                border: 0px;
                -webkit-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
                -moz-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
                box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);

                tr {
                    padding: 5px 4px;
                }

                th,
                td {
                    width: 50%;
                }

                td {
                    text-align: right;
                }

                .results-table_won {
                    background-color: #032dc1;
                    color: white;
                }

                .results-table_offer {
                    background-color: #f6f7fc;

                    th,
                    td {
                        font-size: $font-medium_small;
                    }
                }

                .results-table_details {
                    background-color: white;

                    th,
                    td {
                        font-size: $font-small;
                        text-align: right;
                    }

                    th {
                        padding-right: 25px;
                    }

                    td {
                        text-align: left;
                    }
                }
            }
        }
    }

    .about-main_container {
        div {
            border: 0px solid black;
            margin: auto;
        }

        padding: 50px 5%;
    }
    .about-sub_container {
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        //padding-top: 20px;

        div {
            width: 55%;
            padding: 10px;
        }

        h1 {
            font-size: $font-medium_small;
        }

        p {
            font-size: $font-small;
        }
    }

    .reviews_container {
        padding: 50px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f6f7fc;
        font-size: $font-medium;

        .reviews_google {
            display: flex;
            flex-direction: row;
        }
    }

    .questions_container {
        .questions_introduction,
        .questions_list {
            display: flex;
            flex-direction: column;
            align-self: center;
            //width: 75%; //media-query 40/60 on desktop
            padding: 50px 5% 0px;
        }
    }

    .news_container {
        background-color: #8da9c4;
        text-align: center;

        .news-story_flexcontainer {
            align-items: center;
            .news-story {
                -webkit-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
                -moz-box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
                box-shadow: 2px 2px 5px 0px rgba(135, 135, 135, 1);
                background-color: white;
                width: 50%;
                margin: 20px;
                padding: 20px;

                .news-story_title {
                    font-size: $font-medium_small; //media-query
                    text-align: left;
                }

                .news-story_excerpt {
                    margin-top: 10px;
                    font-size: $font-small; //media-query
                    text-align: left;
                }
                .news-story_link {
                    margin-top: 20px;
                    text-align: right;
                    font-size: $font-small; //media-query
                    font-weight: bold;
                    color: #e94f37;
                }
            }
        }
    }

    .ask_container {
        text-align: center;

        .ask-sub_container {
            .ask-sub_info {
                margin: 20px;

                img {
                    width: 60px;
                }

                .ask-sub_info-title {
                    margin: 10px;
                    font-size: $font-medium_small;
                    font-weight: bold;
                }

                .ask-sub_info-description {
                    font-size: $font-small;
                }

                .ask-sub_info-link {
                    font-size: $font-small;
                    font-weight: bold;
                    margin-top: 40px;
                    color: #e94f37;
                }
            }
        }
    }

    .awards_container {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #fec82e;
        padding: 10px !important;

        .awards-icon_container {
            display: flex;
            flex-wrap: nowrap; //media-query wrap on small devices
            flex-direction: row;
            justify-content: space-around;

            img {
                margin: 0px 0px;
                width: 80px;
                align-self: center;
            }
        }
    }
}

.section_title {
    text-transform: uppercase;
    font-weight: bold;
    color: #122a3e;
    opacity: 25%;
}

.section_subtitle {
    font-family: PoynterOSDisplay;
    font-size: $font-large;
    margin-bottom: 10px;
    color: #122a3e;
}

.section_paragraph {
    font-size: $font-medium_small;
}

button {
    color: white;
    font-size: $font-medium; //media-query increase for large11
    font-weight: bold;
    padding: 5px 20px;
    margin-top: 10px;
    background: #e94f37;
    opacity: 1;
    border: 0px;
}

section {
    padding: 50px 0%; //10%
}

.flex-layout {
    display: flex;
    flex-direction: column;
}

.contact-top_container {
    background: #f6f7fc;
    margin-top: 60px;
}

.contact-bottom_container {
    .contact-bottom_copy {
        //text-align: end;

        address {
            font-style: initial;
        }
    }
}

footer {
    padding: 5%;
    background-color: #f6f7fc;

    img {
        width: 20%;
        align-self: center;
    }

    div {
        width: 80%;
        margin-left: 50px;
        p {
            font-size: $font-smaller;
            margin-top: 10px;
            color: #707070;
        }
    }
}

.aboutpage-introduction_container {
    .aboutpage-kg_profiles {
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        div {
            margin: auto;
            text-align: center;
            img {
                max-width: 75%;
                min-width: 50%;
                border: 5px solid #eef0f2;
            }
        }
    }
}
.aboutpage-attorneys_container {
    border: 100px solid black;
    background-color: #F6F7FC;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutpage-attorneys_directory {
        display: flex;
        flex-wrap: wrap;
        //padding: 0 10%;
        div {
            margin: auto;
            
            img {
                max-width: 100%;
                min-width: 80%;
            }
        }
        
    }
}

/*
<section className="aboutpage-attorneys_container flex-layout">
            <h1 className="section_subtitle">Meet Our Team:</h1>
            <div className="aboutpage-attorneys_directory">
                <div aboutpage-attorneys_profile>
                    <img></img>
                </div>
            </div>
        </section>
*/

$phone: "only screen and (max-width: 599px)";
$tablet: "only screen and (min-width: 600px) and (max-width: 1023px)";
$desktop: "only screen and (min-width: 1024px)";

@media only screen and (min-width: 1024px) {
    .hero-menu_container {
        min-height: 80vh !important;
        padding: 50px 10% !important;

        .hero-menu_copy {
            max-width: 40%;
            h1 {
                font-size: $font-largest;
            }
            h2 {
                font-size: $font-medium_large;
            }
        }
    }
    .section_title {
        font-size: $font-medium + 2px;
    }
    .section_subtitle {
        font-size: $font-large + 8px;
    }
    .section_paragraph {
        font-size: $font-medium_small + 2px;
    }
    .about-sub_container {
        align-items: initial !important;
        border-top: 2px solid #032dc1;
    }
    .news-story_title {
        font-size: $font-medium_small + 2px !important;
    }
    .news-story_excerpt {
        font-size: $font-small + 2px !important;
    }
    .news-story_link {
        font-size: $font-small + 2px !important;
    }
    .ask-sub_info-title {
        font-size: $font-medium + 2px !important;
    }
    .ask-sub_info-description {
        font-size: $font-small + 2px !important;
    }
    .ask-sub_info-link {
        font-size: $font-small + 2px !important;
    }
    /*
    section {
        padding: 50px 20%;
    }
    */
    .flex-layout {
        flex-direction: row;
    }

    .contact-top_container,
    .contact-bottom_container {
        div {
            width: 50%;
            margin: 50px;
        }
    }
    .contact-bottom_container {
        .contact-bottom_copy {
            text-align: end;
        }
    }

    footer {
        img {
            width: 8%;
        }

        div {
            width: 80%;
            margin-left: 50px;
            p {
                font-size: $font-medium_small;
                margin-top: 10px;
            }
        }
    }
}

@media #{$phone} {
    .hero-menu_container {
        min-height: 10vh !important;

        .hero-menu_copy {
            max-width: 100% !important;
            h1 {
                font-size: 26px;
            }
        }
    }
    .awards-icon_container {
        img {
            width: 10% !important;
        }
    }
}

/*
.testimonials_container 
.results-table_container
.about-main_container
.about-sub_container
.news-story_flexcontainer
.questions_container
.ask-sub_container
*/
