@font-face {
  font-family: "PoynterOSDisplay";
  src: url(../fonts/PoynterOSDisplay.otf);
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../fonts/AvenirNext-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext-Regular", sans-serif;
  font-size: 16px;
}

.header-top {
  font-family: PoynterOSDisplay, serif;
  font-size: 48px;
  margin-bottom: 10px;
  color: white;
}

.header-grey {
  font-family: PoynterOSDisplay, serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #122a3e;
}

.header-white,
.header-blue {
  font-family: PoynterOSDisplay, serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.header-blue {
  color: #032dc1;
}

.header-uppercase-grey,
.header-uppercase-white {
  text-transform: uppercase;
  font-weight: bold;
}

.header-uppercase-grey {
  color: #122a3e;
  opacity: 25%;
}

.header-uppercase-white {
  color: white;
  opacity: 100%;
}

.paragraph-large {
  font-size: 18px;
  color: white;
}

.paragraph-medium_small {
  font-size: 14px;
}

.paragraph-small {
  font-size: 12px;
}

.paragraph-smaller {
  font-size: 10px;
}

.paragraph-small-red {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: #e94f37;
}

.paragraph-medium_small-red {
  font-size: 14px;
  font-weight: bold;
  color: #e94f37;
}

.padding-small {
  padding: 50px 5%;
}

.padding-medium {
  padding: 50px 10%;
}

.padding-large {
  padding: 50px 20%;
}

.nav-flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  border: 0px solid black;
  margin: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
}

.nav-flex_container li {
  text-align: center;
  margin: 20px 10px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-menu_container {
  margin-top: 60px;
  background-image: url(../images/HeroIMG-Jesus.png);
  background-size: cover;
  min-height: 50vh;
  background-color: #60a3ff;
  background-blend-mode: multiply;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-menu_container .hero-menu_copy {
  max-width: 50%;
}

.testimonials_container div {
  margin: auto;
}

.results_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: #f6f7fc;
}

.results_container .results-table_container .results-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  margin: 20px;
  width: 200px;
  border: 0px;
  -webkit-box-shadow: 2px 2px 5px 0px #878787;
  box-shadow: 2px 2px 5px 0px #878787;
}

.results_container .results-table_container .results-table tr {
  padding: 5px 4px;
}

.results_container .results-table_container .results-table th,
.results_container .results-table_container .results-table td {
  width: 50%;
}

.results_container .results-table_container .results-table td {
  text-align: right;
}

.results_container .results-table_container .results-table .results-table_won {
  background-color: #032dc1;
  color: white;
}

.results_container .results-table_container .results-table .results-table_offer {
  background-color: #f6f7fc;
}

.results_container .results-table_container .results-table .results-table_offer th,
.results_container .results-table_container .results-table .results-table_offer td {
  font-size: 14px;
}

.results_container .results-table_container .results-table .results-table_details {
  background-color: white;
}

.results_container .results-table_container .results-table .results-table_details th,
.results_container .results-table_container .results-table .results-table_details td {
  font-size: 12px;
  text-align: right;
}

.results_container .results-table_container .results-table .results-table_details th {
  padding-right: 25px;
}

.results_container .results-table_container .results-table .results-table_details td {
  text-align: left;
}

.about-main_container div {
  margin: auto;
  padding-bottom: 10px;
}

.about-sub_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #eef0f2;
  padding-top: 10px;
}

.about-sub_container div {
  width: 55%;
  padding: 10px;
}

.reviews_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f7fc;
}

.questions_container .questions_introduction,
.questions_container .questions_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.news_container {
  background-color: #8da9c4;
  text-align: center;
}

.news_container .news-story_flexcontainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_container .news-story_flexcontainer .news-story {
  -webkit-box-shadow: 2px 2px 5px 0px #878787;
  box-shadow: 2px 2px 5px 0px #878787;
  background-color: white;
  width: 50%;
  margin: 20px 10px 0;
  padding: 20px;
}

.news_container .news-story_flexcontainer .news-story .news-story_title,
.news_container .news-story_flexcontainer .news-story .news-story_excerpt {
  text-align: left;
  margin: 10px 0px 20px;
}

.ask_container {
  text-align: center;
}

.ask_container .ask-sub_container .ask-sub_info {
  margin: 20px;
}

.ask_container .ask-sub_container .ask-sub_info img {
  width: 60px;
  padding-bottom: 10px;
}

.ask_container .ask-sub_container .ask-sub_info p {
  padding: 2%;
}

.awards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fec82e;
}

.awards_container .awards-icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.awards_container .awards-icon_container img {
  margin: 0px 0px;
  width: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

button {
  color: white;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px;
  margin-top: 10px;
  background: #e94f37;
  opacity: 1;
  border: 0px;
}

.responsive-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-top_container {
  background: #f6f7fc;
  margin-top: 60px;
}

.contact-bottom_container .contact-bottom_copy address {
  font-style: initial;
}

footer {
  background-color: #f6f7fc;
}

footer img {
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer div {
  width: 80%;
  margin-left: 50px;
}

footer p {
  margin-top: 10px;
  color: #707070;
}

.aboutpage-introduction_container .aboutpage-kg_profiles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.aboutpage-introduction_container .aboutpage-kg_profiles div {
  margin: auto;
  text-align: center;
}

.aboutpage-introduction_container .aboutpage-kg_profiles div img {
  max-width: 75%;
  min-width: 50%;
  border: 5px solid #eef0f2;
}

.aboutpage-attorneys_container {
  border: 100px solid black;
  background-color: #f6f7fc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutpage-attorneys_container .aboutpage-attorneys_directory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutpage-attorneys_container .aboutpage-attorneys_directory div {
  margin: auto;
}

.aboutpage-attorneys_container .aboutpage-attorneys_directory div img {
  max-width: 100%;
  min-width: 80%;
}

@media only screen and (min-width: 1024px) {
  .hero-menu_container {
    min-height: 80vh !important;
  }
  .hero-menu_container .hero-menu_copy {
    max-width: 40%;
  }
  .testimonials_container div {
    width: 50%;
  }
  .about-main_container div {
    width: 50%;
  }
  .about-sub_container {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .questions_introduction {
    width: 40%;
  }
  .responsive-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-top_container div,
  .contact-bottom_container div {
    width: 50%;
    margin: 50px;
  }
  .contact-bottom_container .contact-bottom_copy {
    text-align: end;
  }
  footer img {
    width: 8%;
  }
  footer div {
    width: 80%;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 599px) {
  .hero-menu_container {
    min-height: 10vh !important;
  }
  .hero-menu_container .hero-menu_copy {
    max-width: 100% !important;
  }
  .awards-icon_container img {
    width: 10% !important;
  }
}
/*# sourceMappingURL=styles.css.map */